Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# User Defined Settings
Content/Characters/Mannequins
Content/Characters/Mannequin_UE4
Content/StarterContent
.vscode/*
.idea/*
.svn/*