Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

// 100MB 넘는 파일/폴더 추가
Content/Characters/Mannequins
Content/Characters/Mannequin_UE4
Content/StarterContent